* {
    font-size: 12px;
    font-family: 'Times New Roman';
    
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}
.sinCss{
    all: none;
}
.pedido{
    display:grid;
    margin:5%;
}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}